<h2>User info</h2>

<%= form_with model: @user, method: :patch do |f| %>

  <div class="field">
    <label>Name</label><br>
    <%= f.text_field :name %>
  </div>

  <p>Image</p>

  <div class="field">
    <label>IntroductionI</label>

  </div>

<% end %>
