<!--フラッシュメッセージ作成しろ-->


<%= render partial: "templates/template", locals: {book: @new_book, user: @user} %>

<h1>Books</h1>
<!-- テーブル -->
  <table>
    <tr>
      <th> </th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <% @userBooks.each do |book| %>
      <tr>
        <td>
          <!--User プロフィール画像-->
          <%= image_tag book.user.get_profile_image(80, 80) %>
        </td>
        <!--titleを本の詳細画面にする -->
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </table>